---
layout: page
title: Quadcopter
---
<div>
	{{ site.data.teams.quad.description }}
</div>
<br>

<div class="posts">
  {% assign posts = site.posts| where: "category","quad" %}
  {% for post in posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} {% if post.author %}&middot; {{ post.author }}{% endif %}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

