---
layout: page
title: Executive Boards
---

<div>

	<h1>Current E-Board 2017-2018</h1>
	<div class="row">
  		<div class="col-md-3">
    		<ul style="list-style-type: none;">
        		<li><img src="http://placehold.it/60x60"/><p>President - Kristian Wu - 2019</li>
       	 		<li><img src="http://placehold.it/60x60"/><p>Vice President - Deepti Upmaka - 2019</li>
       	 		<li><img src="http://placehold.it/60x60" /><p>Secretary - Roshni Shah - 2019</li>
       	 		<li><img src="http://placehold.it/60x60" /><p>Treasurer - Samrat Darisipudi - 2019</li>
       	 		<li><img src="http://placehold.it/60x60" /><p>EGC Representative - Daniel Pattathil - 2020</li>
       	 		<li><img src="http://placehold.it/60x60" /><p>Director of Professional Relations - Neharika Bhandari - 2018</li>
       	 		<li><img src="http://placehold.it/60x60" /><p>Director of Outreach and Marketing - Vallab Nayak - 2020</li>
       	 		<li><img src="http://placehold.it/60x60" /><p>Director of Fundraising - Sagar Shah - 2020</li>
       	 		<li><img src="http://placehold.it/60x60" /><p>Director of Web Technology - Bhargav Tarpara - 2018</li>

    		</ul> 
		</div>
	</div>

	{% for year in site.data.eboards %}
		<h1>{{ year[0] }}</h1>

		<table>
			{% for person in year[1] %}
			<tr>
				<td> {{ person[1].role }} </td>
				<td>
					{% if person[1].url %}
					<a href="{{person[1].url}}">{{ person[1].name }}</a>
					{% else %}
					{{ person[1].name }}
					{% endif %}

					<br>

					{{ person[1].class }}
				</td>

			</tr>
			{% endfor %}
		</table>

	{% endfor %}
</div>
