---
layout: page
title: Projects
---

<div>
	<h1>Current Projects</h1>
	{% for team in site.data.teams %}

	<h2><a href="{{site.root}}{{team[0]}}">{{team[1].name}}</a></h2>
	<p>{{team[1].description}}</p>

	{% endfor %}


</div>
<div class="posts">
  {% assign posts = site.posts %}
  {% for post in posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} {% if post.author %}&middot; {{ post.author }}{% endif %}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

