<div class="sidebar">
    <div class="container sidebar-sticky" style="position: initial;">
        <a href="{{ site.baseurl }}">
          <img src="/img/RutgersLogoWhiteHighlightTransparentShadowV2.png" style="float:top";>  
        </a>
        <nav class="sidebar-nav" style="font-size: large;">
            <a class="sidebar-nav-item" href='{{ site.url }}'>
                Dashboard
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/about'>
                About
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/contact'>
                Contact
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/eboards'>
                Eboard
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/robotics'>
                Robotics
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/drones'>
                Drones
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/mlai'>
                Machine Learning/AI
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/workshops'>
                Workshops
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/coding'>
                Coding
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/electronics'>
                Electronics
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/discover'>
                Discover
            </a>
            <a class="sidebar-nav-item" href='{{ site.url }}/inspire'>
                Inspire            </a>    
            <a class="sidebar-nav-item" href="{{ site.github.org }}"  target="_blank">GitHub</a>
        </nav>
        <p style="font-size: small;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>